body, html {
	background-color: #FFEFE8;
	display: block;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 26px;
	height: 100%;
}

.logo{
	width: 7%;
}

.header-text {
	color: #6E2F22;
}