body, html {
	background-color: #FFEFE8;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
    font-weight: normal;
    line-height: 26px;
	height: 100%;
}


.logo img{
	width: 5%;
}



.main-container {
	display: block;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
}


.footer-container {
	display: block;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  
}

.how-to-container{
	display: block;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.heading {
	text-align: center;
}

.heading-text{
  
}


.clear {
	clear: both;
}


.hiw {
	text-align: center;
	margin: 10px;
	padding: 20px;
}

.underline {
	height: 3px;
	background: #eaeaea;
}


.wrapper {
	min-height: 240px;
	padding: 3em;
	width: 100px;
	/*height: 100px;*/
	margin: 0 auto;
}


.width-60{
	width: 60%;
	margin: 0 auto;
}


.f-group {
	margin
}



.form-item {
	width: 47%;
	float: left;
	margin: 10px;

}


.form-item input {
	width: 90%;
	margin: 10px;
	padding: 20px;
	font-size: 14px;
	background:;
	border:1px solid #f3f3f3;
	border-radius: 10px;
}



.finp-btn{
	background-color: #000;
    color:#fff;
    padding: 20px 25px !important;
    border-radius: 6px;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 40% !important
}


.finp-btn:hover{
  background-color: #ccad52;
  color:#fff;
}

.site-map {
	display: inline-block;
	width: 33%;
	float: left;
}


.site-map ul {
  margin:40px 30px 30px 0px;
  padding:0px;

}


.site-map ul li {
  margin: 10px 0px;
  
}



.f-heading h3{

}



ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.footer {
	clear: both;
    position: relative;
    /*height: 200px;*/
    margin-top: -200px;
    background: #462E2F;
    color: white

}

.footer li a{
	color: white;
}



.copyright {
	width: 100%;
	text-align: center;
}